img{
    width: 600px;
    height: 600px;
    object-fit: cover;
}
.text{
    background-color: white;
    padding: 30px;
    
}
.parent{
    display: flex;
}
h1{
    font-family: sans-serif;
    font-weight: 900;
}
p{
    font-family: sans-serif;
    font-weight: 400;
}